[2021-08-24 10:22] todo[bot] opened #1 """
https://github.com/thoth-station/prescriptions-refresh-job/blob/eea85bf35b18f5baa7e5d5f37395e5232cabc818/pyproject.toml#L2-L7

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eea85bf35b18f5baa7e5d5f37395e5232cabc818. It&#x27;s been assigned to @fridex because they committed the code.

[2021-08-24 10:23] khebhut[bot] opened #2 "No dependency management found for the ubi8 environment"
No dependency management found for the ubi8 environment. If you want
to keep your dependencies managed, please submit `Pipfile` or `requirements.in` or `requirements-dev.in` file.

To generate a `Pipfile`, use:
[code]

Make sure your `Pipfile` or `requirements.in` or `requirements-dev.in` is placed in the root of your Git repository.

/kind feature
/priority important-soon

[2021-08-24 10:23] sesheta commented on #2
@khebhut[bot]: The label(s) `kind/feature, priority/important-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/2):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions

[2021-08-27 09:42] fridex opened #4 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-27 11:09] #4 closed, assigned to sesheta

[2021-08-27 11:11] fridex opened #5 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-27 11:22] #5 closed, assigned to sesheta

[2021-08-27 11:36] fridex opened #7 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.0.1

[2021-08-27 11:52] #7 closed, assigned to sesheta

[2021-08-27 11:52] fridex opened #8 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.0.1

[2021-08-27 12:08] #8 closed, assigned to sesheta

[2021-08-30 06:43] fridex opened #12 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-30 08:21] #12 closed

[2021-08-30 08:21] fridex opened #13 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-09-11 09:50] goern opened #15 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-09-13 06:48] #15 closed

[2021-10-11 20:10] harshad16 opened #21 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-11 20:21] #21 closed

[2021-10-14 12:25] fridex opened #23 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-20 02:31] harshad16 commented on #23
closing this and opening a new one.

[2021-10-20 02:31] #23 closed

[2021-10-20 02:32] harshad16 opened #25 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-20 04:35] #25 closed

[2021-10-21 13:39] fridex opened #30 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-10-21 13:44] #30 closed, assigned to sesheta

[2021-10-25 20:55] harshad16 opened #33 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-26 01:58] #33 closed, assigned to sesheta

[2021-10-26 07:22] fridex opened #35 "Extend container security information gathering also for other container images"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to get information about security on the container images I use. I want to get security-related information for s2i container images, notebook images and so.

- [ ] extend quay-security handler to obtain information about other container images

[2021-10-26 07:26] fridex opened #36 "Suggest users to upgrade or downgrade containerized environments if a CVE is present in them"
**Is your feature request related to a problem? Please describe.**

This is a follow up to https://github.com/thoth-station/prescriptions-refresh-job/issues/35

[2021-10-29 13:47] fridex opened #38 "Make sure the resolution fails if base image has a CVE and recommendation type is set to security"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to make sure I'm not using packages that would have CVEs either Python packages or RPM packages present in the base image.

**Describe the solution you'd like**

Let the resolution fail if the recommendation type is set to security and the base image used has any CVE present (RPMs). Similarly as we

[2021-10-29 17:46] #35 closed, assigned to nobody

[2021-11-01 12:19] fridex opened #41 "Provide suggestions to users based on statistics aggregated from requests done to the recommender"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to have guidance on my software respecting the Thoth community's use. For example, I would like to get recommendations on versions of packages that are most used within the Thoth community, information about base container images used, and such.

**Describe the solution you'd like**

Implement a ha

[2021-11-01 12:23] fridex opened #42 "Data driven decisions based on data from PyPI"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to get guidance on which software is used in the Python community. Besides https://github.com/thoth-station/prescriptions-refresh-job/issues/41, we can also include statistics aggregated from PyPI's BigQuery.

**Describe the solution you'd like**

Implement a handler in prescriptions-refresh that o

[2021-11-08 10:10] #38 closed

[2021-11-08 11:42] fridex opened #44 "Kebechet update"

[2021-11-08 11:49] #44 closed

[2021-11-08 19:51] harshad16 opened #46 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-08 20:04] #46 closed

[2021-11-19 10:29] codificat opened #52 "Consolidate / batch process multiple updates in a single PR"
**Is your feature request related to a problem? Please describe.**

Some prescription refresh runs generate a considerable amount of updates, each of which comes in the form of a new Pull Request to the prescriptions repo.

This causes a lot of noise.

Also, our triage party application takes a long time to refresh data, because it has to get info about all these PRs.

**High-level Goals**

The pr

[2021-11-22 18:03] #41 closed

[2021-11-22 18:55] harshad16 opened #54 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-22 19:02] #54 closed

[2021-12-01 10:22] fridex opened #61 "Provide information about project downloads"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to receive information on the number of downloads for each package in the resolved stack, In such a case, I would get an overview on the number of downloads for each package-version and can consider a package to be unpopular, too fresh to use or possibly dangerous if the number of downloads is a sm

[2021-12-01 12:35] mayaCostantini commented on #61
/assign @mayaCostantini

[2021-12-01 12:42] fridex opened #63 "Security Scorecards v3"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to consume things computed by security scorecards in Thoth recommendations but Thoth's implementation uses old scorecards API that has changed. It should be rewritten to the v3 scorecards implementation.

**Describe the solution you'd like**

- [x] check the current schema of security scorecards av

[2021-12-02 08:33] mayaCostantini commented on #61
/lifecycle active

[2021-12-02 09:31] goern commented on #63
/priority important-soon
/triage accepted

[2021-12-02 09:32] goern commented on #61
/priority critical-urgent

[2021-12-13 11:55] fridex opened #73 "pre-commit fails on the default branch"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the repository
2. Issue `pipenv install --dev`
3. Issue `pre-commit run --all-files`
4. See error

**Expected behavior**

All the pre-commit checks should succeed.

[2021-12-13 14:56] #73 closed

[2021-12-14 08:10] mayaCostantini commented on #61
/close

[2021-12-14 08:10] #61 closed

[2021-12-14 08:10] sesheta commented on #61
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/61#issuecomment-993261445):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-14 10:13] fridex opened #81 "Obtain container image size from Quay for Thoth container images"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to obtain information about container image size in recommendations I am consuming.

**Describe the solution you'd like**

- [x] introduce a new handler that will obtain container image size
- [x] refactor quay-security handler so that common parts are reused
- [x] produced prescriptions that obtai

[2021-12-14 14:31] pacospace opened #87 "Create new handler that uses image analysis results and generate new prescriptions"
I wonder if we could make this automatically propagated from the container image analyses (rather than using ps2prescriptions script) - the container image analysis would provide how Pipfile looked like on image build and that information will be part of the image analyses information derived by package-extract (similarly as we propagate information about RPM packages). In that case, we could impl

[2021-12-14 16:10] #81 closed

[2021-12-15 16:44] fridex opened #91 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-15 17:02] #91 closed

[2021-12-16 10:02] fridex opened #93 "Create a handler that automatically creates prescriptions for indexes available on opf Pulp"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like to have prescriptions for indexes available on the Pulp instance automatically generated. An example of such prescriptions can be automatic generation of prescriptions that enable/disable indaxes based on labels supplied to the recommender.

See https://github.com/thoth-station/thoth-application/issues/2183#

[2021-12-16 10:25] fridex opened #94 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.5.0

[2021-12-16 10:25] fridex commented on #94
Related: https://github.com/thoth-station/thoth-application/pull/2194

[2021-12-16 10:39] sesheta commented on #94
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/prescriptions-refresh-job:v0.5.0](https://quay.io/thoth-station/prescriptions-refresh-job:v0.5.0)

[2021-12-16 10:39] #94 closed

[2021-12-17 09:17] pacospace opened #96 "Describe env variables requested to test and run prescriptions-refresh-job"
**Is your feature request related to a problem? Please describe.**
As Thoth Contributor,

I would like to know how to test and run the job, including all env variables required to run it.

**High-level Goals**
Describe env variables requested to test and run prescriptions-refresh-job

**Describe the solution you'd like**
- [ ] Description of env variables in the README
- [ ] .env.template with the

[2021-12-17 10:11] mayaCostantini commented on #96
/assign @mayaCostantini

[2021-12-17 10:24] mayaCostantini commented on #96
/kind feature
/lifecycle active
/priority critical-urgent

[2021-12-20 10:08] #96 closed

[2021-12-20 16:14] pacospace commented on #87
related-to: https://github.com/thoth-station/storages/issues/2505

[2021-12-21 13:40] sesheta opened #102 "new patch release"

[2021-12-21 13:43] fridex commented on #102
Requires dependency update first. Sorry for confusion.
/close

[2021-12-21 13:43] sesheta commented on #102
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/102#issuecomment-998790476):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-12-21 13:43] #102 closed

[2021-12-21 19:32] fridex opened #104 "Kebechet update"

[2021-12-21 19:37] #104 closed

[2021-12-22 11:25] #87 closed

[2022-01-24 09:25] sesheta commented on #36
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-24 10:21] fridex commented on #36
Already implemented in Quay's security handler of prescriptions-refresh-job:

https://github.com/thoth-station/prescriptions-refresh-job/blob/533088842aec377fb61691dcf3d6f5131c2a75de/thoth/prescriptions_refresh/handlers/quay/security.py#L193-L194

/close

[2022-01-24 10:21] #36 closed

[2022-01-24 10:21] sesheta commented on #36
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/36#issuecomment-1019939260):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-01-30 12:26] sesheta commented on #42
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-31 09:28] fridex commented on #42
/remove-lifecycle stale

[2022-02-15 15:22] fridex commented on #63
Related v4 release, worth to check if they are stable already - https://github.blog/2022-01-19-reducing-security-risk-oss-actions-opensff-scorecards-v4/

[2022-02-22 08:04] goern commented on #93
/priority important-soon

[2022-02-22 09:27] mayaCostantini opened #117 "Replace link to GitHub project in prescriptions when no longer available"
**Is your feature request related to a problem? Please describe.**

When some links to GitHub hosted projects are no longer active, the current prescription-refresh-job logic deletes the corresponding `gh_link.yaml` prescription whereas the link still redirects to the correct repository URL.

Example: see https://github.com/thoth-station/prescriptions/pull/18663 where the link still redirects to t

[2022-02-22 09:29] mayaCostantini commented on #117
/priority important-longterm

[2022-02-22 09:39] mayaCostantini opened #118 "`gh_link.yaml` prescription deleted with GitHub link still active"
**Describe the bug**

The `gh_link.yaml` prescription for the `pydata-sphinx-theme` package was identified as a prescription to delete because of the project link inactivity, but the link is still active and has not changed (see https://github.com/thoth-station/prescriptions/pull/18664).

**To Reproduce**

Go to the GitHub project link specified in https://github.com/thoth-station/prescriptions/pu

[2022-02-22 09:40] mayaCostantini commented on #118
/priority critical-urgent

[2022-02-23 22:57] mayaCostantini commented on #117
Closed by: https://github.com/thoth-station/prescriptions-refresh-job/pull/119

[2022-02-25 17:18] #117 closed

[2022-02-25 17:21] mayaCostantini commented on #118
Closed by https://github.com/thoth-station/prescriptions-refresh-job/pull/119
/close

[2022-02-28 19:59] fridex opened #121 "thoth-prescriptions-refresh for thoth image analysis fails to start"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. See stage cronworkflow deployment

[2022-02-28 20:08] fridex opened #122 "Quay handler of prescriptions-refresh fails to serialize YAML"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. See our stage environment

[2022-02-28 20:41] mayaCostantini opened #123 "Implement a prescription to notify when a project is archived"
**Is your feature request related to a problem? Please describe.**
As a consumer of Thoth's prescriptions, I would like to be alerted when a project is archived on GitHub.

**Describe the solution you'd like**
Implement a handler that generates prescriptions to warn about archived packages.

[2022-02-28 20:41] mayaCostantini commented on #123
/assign

[2022-02-28 20:43] fridex commented on #123
I think we have this already implemented - https://github.com/thoth-station/prescriptions-refresh-job/blob/master/thoth/prescriptions_refresh/handlers/gh_archived.py

[2022-02-28 20:44] mayaCostantini commented on #123
Right thanks I missed that 👍🏻 Closing the issue

[2022-02-28 20:44] #123 closed

[2022-02-28 21:54] fridex opened #124 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-02-28 21:57] fridex commented on #122
Maybe this is not happening with a more recent prescriptions-refresh code. Let's see and test.

[2022-02-28 22:31] #124 closed

[2022-03-01 06:34] fridex opened #126 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.6.0

[2022-03-01 06:40] sesheta commented on #126
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/prescriptions-refresh-job:v0.6.0](https://quay.io/thoth-station/prescriptions-refresh-job:v0.6.0)

[2022-03-01 06:40] #126 closed

[2022-03-01 10:48] fridex commented on #63
/sig stack-guidance

[2022-03-01 10:49] fridex commented on #63
/priority critical-urgent

[2022-03-01 11:23] fridex opened #127 "Handler computing information for Thoth container images fails"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run prescriptions-refresh for Thoth container images in stage
2. See the error

[2022-03-01 11:23] fridex commented on #127
/priority critical-urgent
/sig stack-guidance

[2022-03-04 08:55] mayaCostantini commented on #127
/assign

[2022-03-04 08:58] mayaCostantini commented on #121
/sig stack-guidance

[2022-03-04 09:06] mayaCostantini commented on #122
/assign

[2022-03-04 09:06] mayaCostantini commented on #122
/sig stack-guidance
/priority critical-urgent

[2022-03-04 09:07] mayaCostantini commented on #122
/remove needs-triage

[2022-03-04 09:08] mayaCostantini commented on #122
/remove-needs-triage

[2022-03-04 12:14] mayaCostantini commented on #127
/priority critical-urgent
/sig stack-guidance

[2022-03-06 08:52] mayaCostantini opened #128 "Prescriptions are deleted because repos are wrongly marked as not archived anymore"
**Describe the bug**
Some prescriptions were deleted because repos were marked as not archived anymore while they still are (see https://github.com/thoth-station/prescriptions/pull/19781 and https://github.com/thoth-station/prescriptions/pull/19753)

[2022-03-06 08:53] mayaCostantini commented on #128
/priority critical-urgent
/assign

[2022-03-14 09:29] fridex opened #130 "prescriptions-refresh should fail if the token reaches limit"
**Describe the bug**

We should let prescriptions-refresh-job fail in the deployment when GitHub token reaches its limit. We could also setup a delay for restarting the job.

[2022-03-15 12:56] #127 closed

[2022-03-15 12:57] mayaCostantini opened #135 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-15 14:39] mayaCostantini opened #138 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-15 14:51] #138 closed, assigned to sesheta

[2022-03-16 10:05] mayaCostantini commented on #128
/sig stack-guidance

[2022-03-20 16:11] mayaCostantini commented on #118
This issue is still happening after the fix proposed. From the logs generated when testing locally, the issue could be caused partly because of a `429` response status code (too many requests) when trying to get the URL of some repositories:

[code]
(Example of corresponding deleted prescription [here](https://github.com/thoth-station/prescriptions/pull/19791/files)).

Which causes the correspondi

[2022-03-20 16:11] sesheta commented on #118
@mayaCostantini: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/118#issuecomment-1073283113):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue again

[2022-03-20 16:20] mayaCostantini commented on #118
/assign

[2022-03-21 16:30] mayaCostantini commented on #118
The `429` status code issue might be caused by a large number of requests to the same link consecutively. If we take the example above, the GitHub project `apache/airflow` is hosting a large number of packages as we can see here with `apache-airflow-providers-*` packages: https://github.com/thoth-station/prescriptions/tree/master/prescriptions/ap_/

Maybe introducing a few seconds of latency betwe

[2022-03-21 16:39] fridex commented on #118
My wild guess: this issue might be caused when prescriptions-refresh-job exceeds API rate limits. We could try to fix https://github.com/thoth-station/prescriptions-refresh-job/issues/130 to see if that helps.

[2022-03-22 18:04] mayaCostantini commented on #130
@harshad16 will add a new GitHub token soon so maybe let's wait to see if the limit is still reached when we run the next job.

[2022-03-22 19:03] fridex commented on #130
+1, it might be still a good idea to have this implemented though so that the behavior of the job is correct (cannot succeed => fails)

[2022-03-24 12:51] codificat commented on #121
/triage accepted

Is this due to a wrong/old version deployed maybe? hmm... a quick look at thoth-application suggests the latest version v0.6.0 is already in use...

In any case, this sounds
/priority critical-urgent
to me... feel free to correct

[2022-03-24 13:08] codificat commented on #121
it seems prow had a glitch in receiving notifications, trying again:
/triage accepted
/priority critical-urgent

[2022-03-24 20:10] codificat commented on #121
once more (sorry for the noise):
/triage accepted
/priority critical-urgent

[2022-03-25 11:14] codificat commented on #121
ok, now prow should be working and get the labels:
/triage accepted
/priority critical-urgent

[2022-03-30 12:18] harshad16 commented on #130
useful links:
https://argoproj.github.io/argo-workflows/fields/#retrystrategy
https://github.com/thoth-station/prescriptions-refresh-job/search?q=get_github_token
https://github.com/argoproj/argo-workflows/blob/master/examples/retry-conditional.yaml
https://github.com/argoproj/argo-workflows/blob/master/examples/retry-backoff.yaml
https://github.com/argoproj/argo-workflows/blob/master/examples/ret

[2022-03-30 12:34] harshad16 commented on #130
To get list of cronwf: `oc get cronworkflows`
To run a workflow from cronworkflow: ` argo submit --from cronwf/prescriptions-refresh-gh    `

[2022-03-31 15:19] mayaCostantini commented on #63
/assign @mayaCostantini

[2022-03-31 15:22] fridex opened #146 "Have prescriptions computed by pypi_downloads available"
**Is your feature request related to a problem? Please describe.**

The `pypi_downloads` handler is currently not enabled - we do not aggregate these data. Let's enable it and have data from BigQuery PyPI available in the prescriptions repository:

https://github.com/thoth-station/prescriptions-refresh-job/blob/master/thoth/prescriptions_refresh/handlers/pypi_downloads.py

[2022-03-31 15:38] mayaCostantini commented on #146
/sig stack-guidance
/priority critical-urgent

[2022-04-04 07:41] mayaCostantini commented on #128
I suspect that this error could be caused by the following: when the `gh_archived.py` handler is run, the link to the project to check is taken from the `prescriptions` repository:

https://github.com/thoth-station/prescriptions-refresh-job/blob/ea21fa9056b16136ecbb8552ed26dde198fcacc8/thoth/prescriptions_refresh/handlers/gh_archived.py#L55

Where[ `iter_gh_info`](https://github.com/thoth-station/

[2022-04-19 12:37] mayaCostantini commented on #128
/lifecycle active

[2022-04-19 12:45] mayaCostantini commented on #63
/lifecycle active

[2022-05-11 09:09] mayaCostantini commented on #122
Closing this issue as it seems to have been resolved given latest prescriptions.
/close

[2022-05-11 09:09] sesheta commented on #122
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/122#issuecomment-1123403990):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agains

[2022-05-11 09:09] #122 closed

[2022-05-17 10:15] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 10:16] sesheta commented on #93
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 14:01] mayaCostantini opened #157 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-23 14:02] #157 closed

[2022-05-23 14:51] mayaCostantini opened #159 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-23 14:55] #159 closed

[2022-05-23 14:57] harshad16 opened #160 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-29 20:29] mayaCostantini commented on #63
Closed by https://github.com/thoth-station/prescriptions-refresh-job/pull/147

[2022-05-29 20:29] #63 closed

[2022-06-08 07:55] mayaCostantini opened #164 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-06-08 07:57] #164 closed

[2022-06-08 08:14] sesheta opened #166 "new patch release"

[2022-06-13 12:18] mayaCostantini opened #168 "generate prescriptions for packages packaged as RPMs in Fedora 35"
See https://github.com/thoth-station/thoth-application/issues/1803#issuecomment-878208947 and this issue should state code on how to do that https://github.com/thoth-station/adviser/issues/1961 (might require changes to conform to the current prescriptions structure and https://github.com/thoth-station/prescriptions/issues/59).

**Acceptance criteria**
- [ ]  Investigate the process of generating

[2022-06-14 08:56] mayaCostantini commented on #168
/sig stack-guidance
/priority important-soon

[2022-06-15 11:54] mayaCostantini opened #170 "[2pt] Label requests to BigQuery"
**Is your feature request related to a problem? Please describe.**

As a developer of Thoth prescriptions, I would like to [label](https://cloud.google.com/bigquery/docs/labels-intro#what-are-labels) the requests different handlers make to BigQuery to be able to break down the budget used for querying the BigQuery API and have more visibility on which handlers generate the more traffic.

**Describ

[2022-06-15 11:54] mayaCostantini commented on #170
/sig stack-guidance
/priority important-soon

[2022-06-16 12:48] sesheta commented on #52
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-19 19:01] sesheta commented on #118
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-22 12:49] sesheta commented on #93
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-23 13:02] sesheta commented on #121
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-23 14:55] mayaCostantini commented on #128
Closing as this issue does not seem to be occurring anymore (looking at prescription-refresh-jobs for the last few weeks). Feel free to reopen if needed.

[2022-06-23 14:55] #128 closed

[2022-06-27 11:42] mayaCostantini commented on #168
/kind feature

[2022-06-27 11:48] mayaCostantini commented on #118
/sig stack-guidance

[2022-06-29 16:06] mayaCostantini commented on #146
/remove lifecycle-stale
/lifecycle frozen

[2022-06-29 16:06] mayaCostantini commented on #146
/remove priority-critical-urgent
/priority important-soon

[2022-06-30 12:48] codificat opened #172 "Automatically purge branches from the prescriptions repository"
**Is your feature request related to a problem? Please describe.**

The PRs created by the prescriptions refresh job use branches in the prescriptions repository.

Once the PRs have been closed, (some of?) these branches remain there.

Right now the repository has almost 10k branches:

[code]

**Describe the solution you'd like**

It would be nice to have a mechanism that automates the clean-up of

[2022-06-30 12:49] codificat commented on #172
/kind feature
/priority important-longterm
/sig stack-guidance

[2022-06-30 12:53] mayaCostantini commented on #172
Could we configure this directly in the repo? https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-the-automatic-deletion-of-branches

[2022-07-04 20:07] codificat commented on #172
That would be nice!  I personally would much prefer that over the GitHub Action approach. However, we avoid doing manual configuration of the org repos...

I took a quick look at [peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) and I believe this setting can't be managed from there.

One alternative that could help, though, could be the [branchcleaner prow plugi

[2022-07-05 07:45] mayaCostantini commented on #172
Thanks for the suggestion :+1: I have configured the repo to automatically delete merged branches but I am not sure this worked with the last prescriptions-refresh-job. If you think the branchcleaner plugin could be easily configured, feel free to go ahead with this solution

[2022-07-06 08:23] #170 closed

[2022-07-06 08:43] codificat opened #175 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-07-06 09:03] #175 closed

[2022-07-16 15:43] sesheta commented on #52
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-16 15:43] sesheta commented on #52
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/52#issuecomment-1186222285):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-07-22 15:43] sesheta commented on #93
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-22 15:43] sesheta commented on #93
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/93#issuecomment-1192705846):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-07-22 15:43] #93 closed

[2022-07-25 14:45] mayaCostantini commented on #118
Closing this issue as we haven't encounter it during last prescriptions refreshes. Feel free to reopen if needed.

[2022-07-25 14:45] #118 closed

[2022-07-27 12:52] sesheta commented on #121
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-27 20:46] mayaCostantini commented on #121
/remove lifecycle-rotten
/lifecycle frozen

[2022-07-29 17:01] mayaCostantini opened #180 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-07-29 17:06] #180 closed

[2022-07-29 17:07] harshad16 opened #181 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-07-29 17:16] #181 closed

[2022-07-29 17:30] mayaCostantini opened #184 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-07-29 17:35] #184 closed

[2022-07-29 17:41] harshad16 commented on #184
[kebechet-job-220729173053-901ca72824fdbca6-2643785221-main.log](https://github.com/thoth-station/prescriptions-refresh-job/files/9222189/kebechet-job-220729173053-901ca72824fdbca6-2643785221-main.log)
The kebechet alerts it doesn't recognize the maintainers for this repository.

[2022-08-09 12:32] sesheta commented on #52
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/prescriptions-refresh-job/issues/52#issuecomment-1209322223):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-08-09 13:17] VannTen commented on #52
Could the PR labelled and the query/notifications use the label to exclude those PRs ?

[2022-08-17 10:07] codificat commented on #52
I am not sure I understand you here, sorry. Can you elaborate?

The goal of this request is to try to reduce (consolidate) the number of PRs created on the repo. Regardless of labels, e.g. the pre-commit checks should be run - and these do take some time each (lots of yaml files to check).

/remove-lifecycle rotten

[2022-08-17 12:26] VannTen commented on #52
Sure.

Ok I didn't catch that we were also concerned with resources taken up by
pre-commits hooks.

So if I resume we have three problems caused by the high number of PR:

1. High numbers of pr check jobs (pre-commit/other)
2. Lots of notifications -> high mental load
3. Triage party long refresh times.

My suggestion/question was: Can we add metadata (I'm thinking simply
labels, but maybe somethi

[2022-08-18 16:18] VannTen commented on #52
Relevant: https://github.com/google/triage-party/issues/10
Triage-party seem to be able to handle bigger repos than that, maybe our configuration is not optimal ?
Apparently it does pre-match filtering (I guess incorporating match parameters in the query to gh api ?) and there is the possibility to have a cache, optionnaly persistent.

[2022-08-19 11:11] VannTen commented on #52
Regarding pre-commit, we should also check if all pre-commit runs have a
shared cache. Pre-commit create immutable environments (per hooks I
think, hashing together url + version + add_deps I suppose) which are
reusable if they're the same (one the reason I use types-all instead of
more fine-grained stubs packages for mypy hooks).
At least the command-line says so.

I wanted to check this morning

[2022-08-19 14:18] VannTen commented on #52
Something seems weird : while checking `aicoe-ci/tasks/pre-commit-check.yaml`

[code]
Isn't part of that defined in .prow.yaml ?
So which is deciding what images & cmd to run ? Am I looking at the correct file ?

[2022-08-19 15:00] codificat commented on #52
I believe that this check was there before prow was deployed and implemented - it is probably deprecated by now, although there might be some repos that still use it. I remember removing some references in the past (basically, remove the pre-commit check from `.aicoe-ci.yaml` and add it to `.prow.yaml` instead)

@harshad16 might be able to confirm this.

Maybe worth creating an issue to hunt down

[2022-08-19 15:10] codificat commented on #52
Potentially related (as an improvement to the prescriptions CI): https://github.com/thoth-station/prescriptions/issues/8

[2022-08-19 19:32] harshad16 commented on #52
the pre-commit check and pytest in aicoe-ci are no longer used.
we can remove them now.
as prow takes care of it.

[2022-08-22 07:47] mayaCostantini commented on #130
/sig stack-guidance

[2022-08-22 07:50] VannTen commented on #52
So the prow-job is entirely defined in .prow.yaml ? It's not quite clear
looking at .prow.yaml if that depends on external stuff or not. (and the
`context: aicoe-ci/prow/commit` might be confusing ^)

On Fri, Aug 19, 2022 at 08:00:20AM -0700, Pep Turró Mauri wrote:

To Aicoie-ci you mean ? That could be a good idea.
I think we probably also need one for documenting the CI process in
core. AFAICT,

[2022-09-01 09:01] VannTen commented on #52
@codificat
Regarding specifically the triage-party issue, should we create an issue
for that ? There was no lagginess this week when I used it, but probably
because there isn't any active open PR on the prescription repos.

[2022-09-13 13:29] harshad16 opened #186 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-09-13 13:35] #186 closed

[2022-09-25 13:18] sesheta commented on #168
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-25 13:35] mayaCostantini commented on #168
Closing this issue as this feature will likely not be implemented.

[2022-09-25 13:35] #168 closed

[2022-09-26 08:05] goern opened #192 "New patch release"
Hey, Kebechet!

Create a new patch release, please. as the base image got updated and we want to get rid of some security issues...

[2022-09-26 08:24] #192 closed

[2022-10-03 08:07] sesheta commented on #172
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-03 21:47] codificat commented on #172
/remove-lifecycle stale

Thanks!

It seems to work. Just to give an example, the brach `pres-bluepy-pypi_release.yaml` from #30239 (part of this past week's refresh) is not in the repo anymore.

However, we probably want to go one step further and find a way to clean stale branches as well - containing non-merged changes but that are not active anymore. One example is the [pres-bluepyopt-pypi_proj

[2022-10-04 16:39] codificat commented on #52
As far as I can tell, the issue only affects triage-party upon startup, while it initially creates the cache. We don't restart triage-party that often in prod, so it's probably fine as it is.

More serious, I believe, is the time it takes to run `pre-commit run --all-files` on each of the small PRs. https://github.com/thoth-station/prescriptions/pull/27401 was a nice idea, but it was reverted and

[2022-10-10 11:11] #172 closed

[2022-10-17 11:47] VannTen commented on #52
So, did thoth-station/prescriptions#30488 helped ?

[2022-10-17 13:28] codificat commented on #121
/assign @shreekarSS

[2022-10-17 22:03] codificat commented on #52
For the PRs coming from the refresh job, I'm not so sure. I see that @mayaCostantini merged more than 600 PRs from the last refresh batch, but AFACIT no precommit checks were performed on them - at least by prow.

The main topic of this issue, though, is the high volume of PRs to begin with. It is still a wishlist item for me to reduce that number :innocent:

I believe the incremental pre-commit h

[2022-10-18 08:15] VannTen commented on #52
I still don't have any opinions on that ^. What's the choking point
exactly, still notifications/triage party then ?

@mayaCostantini I think you said there was some value in keeping
separate PRs ?

`-label:bot -bot` helps significantly with that ^

[2022-10-18 11:23] codificat commented on #52
For me, yes: notification handling is broken for me. That might be just affecting me and safely ignored, though. Triage party does get its hit, but as far as I know it only happens during startup, which does not happen often. We might also be hit by API rate limits when this happens, but again this is rare.

All in all, you are right: this is not a big issue. And if you prefer to close it instead,

[2022-10-27 09:02] mayaCostantini opened #195 "Update Scorecards handlers to `openssf.scorecardcron.scorecard-v2` schema"
**Is your feature request related to a problem? Please describe.**
Scorecards prescriptions are not refreshed properly because the current handlers use an older Scorecards dataset version.
Related to https://github.com/thoth-station/prescriptions/issues/25118, https://github.com/thoth-station/core/issues/444 (among others)

**Describe the solution you'd like**
Adapt the current handlers to corresp

[2022-10-27 09:03] mayaCostantini commented on #195
/assign
/priority critical-urgent
/sig stack-guidance

[2022-10-28 14:06] #195 closed

[2022-10-28 14:55] mayaCostantini opened #199 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-11-04 13:36] shreekarSS commented on #121
I tried to run thoth-prescriptions-refresh cli in local env to check  if cli is valid.

[sshreeka@fedora prescriptions-refresh-job]$ PYTHONPATH=. pipenv run python3 ./thoth-prescriptions-refresh thoth-image-analysis
2022-11-04 13:27:23,162 160015 WARNING  thoth.common:340: Logging to a Sentry instance is turned off
2022-11-04 13:27:23,166 160015 INFO     thoth.prescriptions_refresh:100: Version: 0

[2022-11-04 18:44] harshad16 commented on #121
This issue is already fixed by: https://github.com/thoth-station/prescriptions-refresh-job/commit/16079fc22491d690552ad244b1a3f027118cccaf

Also works in cluster:
![Screenshot from 2022-11-04 14-07-23](https://user-images.githubusercontent.com/14028058/200051828-c38227e8-e65c-499f-80b7-618ab6c2ee9e.png)
[prescriptions-refresh-image-analysis-main.log](https://github.com/thoth-station/prescriptions-

[2022-11-04 18:44] harshad16 commented on #121
Thanks for all the work.
closing the issue.

[2022-11-04 18:44] #121 closed